body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0em;
    overflow: hidden;
    color: white;
}
#image__track > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}
#image__track{
    display:flex ;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%,-50%);
}



/* body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
 } */
.typewriter{
    display: flex;
    justify-content: center;

}
.typewriter p{
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 700;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;/*keeps on a single line*/
    border-right: 1px solid;
    /**/
    animation: typing 3s steps(22) 1s infinite,
    blink 1s step-end infinite;

}
@keyframes typing {
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
    
    
}
@keyframes blink {
    0%,100% {
        border-color: transparent;

    }
    50%{border-color: black;}
    
    
}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #adff2f;
    position: fixed; 
    top: 0;
    left: 0;
    
    pointer-events: none;
    z-index: 99999999;
}
